body {
	display: flex;
	background: black;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.calculator {
	display: flex;
	flex-direction: column;
	background: #FAEBD7;
	width: 600px;
	height: 800px;
	border: 5px solid grey;
	border-radius: 20px;
}

.screen {
	flex: 0 0 auto;
	display: flex;
	height: 100px;
	border: 5px solid grey;
	border-radius: 12px;
	font-size: 32px;
	background: #8FBC8F;
	color: black;
	margin: 10px;
	margin-top: 50px;
	font-weight: bold;
	align-content: center;
	flex-wrap: wrap;
	padding-right: 10px;
	padding-left: 10px;
}

.buttons {
	display: flex;
	flex: auto;
	flex-direction: column;
}
	
.row {
	display: flex;
	flex: auto;
	gap: 20px;
}

.button {
	align-text: center;
	flex: auto;
	vertical-align: middle;
	text-align: center;
	background: grey;
	padding: 10px;
	font-size: 40px;
	font-weight: bold;
	border: 5px solid white;
	border-radius: 8px;
	width: 80px;
	height: 80px;
	color: black;
}

.enter {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height = 50px;
	border: 5px solid grey;
	border-radius: 12px;
	background: grey;
	color: black;
	font-size: 40px;
	font-weight: bold;
	margin: 10px;
}
